{
    "development": {
        "username": "xyind",
        "password": "xyind12345",
        "database": "node",
        "host": "127.0.0.1",
        "dialect": "mysql"
    },
    "test": {
        "username": "xyind",
        "password": "xyind12345",
        "database": "node",
        "host": "127.0.0.1",
        "dialect": "mysql"
    },
    "production": {
        "username": "xyind",
        "password": "xyind12345",
        "database": "node",
        "host": "127.0.0.1",
        "dialect": "mysql"
    }
}
